/.venv
/.vscode
/data.db
/keys.py
/prox.py
/query.txt
/tasks_detail.json
/tasks_product.json
/tmp
/tmp.html
/tmp.json
/tmp1.py
/tmp10.html
/tmp10.json
/tmp10.py
/tmp11.py
/tmp2.json
/tmp2.py
/tmp3.py
/__pycache__